*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
    background: black;
}
/* Main CSS */
.nav-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 5px;
}

.menu{
    display: flex;
    gap: 35px;
}
.menu li{
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}


#banner .banner-img{
    background-image: url(images/hero-bg.png); 
    background-size: cover;     
    background-repeat: no-repeat; 
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    text-align: center;
    color: #fff;
    padding: 0px 300px;
}
.banner-content span{
    color: #30B868;
}

.banner-content h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 16px;
}

.banner-content p{
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 35px;
}
.button-container {
  display: flex;       
  justify-content: center; 
  gap: 16px;            
}